@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    outline: 0;
}
ul,li{
   list-style-type:none;
}
a{
    text-decoration: none;
    color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {

    line-height: 0.8;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* header part style start */
#headerPart{
    width: 100%;
    padding: 21px 0;
    background: url("/img/banner.png");
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height:31px ;
    width: 180px;
    border-right: 0.25px solid rgba(255, 255, 255, 0.277);
    padding-right: 20px;
   
}
.menu ul {
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
    
 
}
.menu ul a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    
}
.menu ul a:hover{
    color: red;
    transition-duration: 1s;
}
.navTel{
    color: white;
    border-right: 0.25px solid rgba(255, 255, 255, 0.277);
    padding-right: 20px;
}
.iconOne{
    color: white;
}
.iconTwo{
    color: white;
}
.bannerText{
    color: white;
}
.bannerText h1{
    font-size: 65px;
    font-weight: 700;
    max-width: 690px;
    padding-top:50px ;
    line-height: 70px;
}
.bannerText p{
    max-width: 620px;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 0;
    
}
.btnPrimary{
    background: #E30613;
    color: white;
    font-size: 18px;
    padding: 15px 35px;
    border: none;
}

.rs-text-slide-wrapper {
    width: 100%;
    padding: 40px 0;
    background: #000;
}

.gsap-marquee {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: white;
}

.rs-text-slide-inner {
    display: inline-flex;
    gap: 80px;
}

.rs-text-slide-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rs-text-slide-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.rs-text-slide-thumb img {
    width: 60px;
    height: auto;
}
/* header part style end */